body{
    margin:0;
    padding: 0;
    background-image: url("../../public/img/Dice.jpg");
    background-size: cover;
    font-family: sans-serif;
}



.titulo {
    text-align: center;
    padding: 50px 0 20px;
}

.titulo h1{
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 36px;
}

.container {
    width: 50%;
    height: 400px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,.5);
}

.container .left{
    float: left;
    width: 50%;
    height: 400px;
    background: url("../../public/img/Dados3.jpg");
    background-size: cover;
}

.container .right {
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}

.FormBox{
    width: 100px;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
}

.FormBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}

.FormBox input {
    width: 250px;
    margin-bottom: 20px;
}

.FormBox input[type="text"] ,.FormBox input[type="password"]{
    border: none;
    border-bottom: 2px solid #a6af13;
    outline: none;
    height: 40px;
}

.FormBox input[type="text"]:focus ,.FormBox input[type="password"]:focus {
    border-bottom: 2px solid #262626;
}

.FormBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #262626;
}

.FormBox input[type="submit"]:hover{
        background: #a6af13;
}

.FormBox a {
    font-size: 20px;
    background-color: #262626;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.FormBox a:hover{
    background-color: #555;
}

.FormBox a:active{
    background-color: greenyellow;
}